.App {
   text-align: center;
   justify-content: center;
}
.card1 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.cards1{
   padding-bottom: 35px;
}

.searchbar1 {
   display: flex;
  justify-content: center;
}